.vscode/*
.emmyrc.json
Contents/mods/HorseMod/42/media/lua/client/HorseMod/HorseTestingStuff.lua
*.blend1
Contents/mods/HorseMod/42/media/lua/client/HorseMod/HorseTestingStuff.lua
Contents/mods/HorseMod/42/media/lua/client/HorseMod/HorseTestingStuff.lua
/docs/build/*
